<p>
  <mat-toolbar color="secondary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="https://www.angular.com/address/" target="blank"><img src="assets/Images/angular.png" height="40px"></a>
    <a href="https://www.atlassian.com/address/" target="blank"><img src="assets/Images/atlassian.png" height="40px"></a>
    <a href="https://www.github.com/address/" target="blank"><img src="assets/Images/github.png" height="40px"></a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <span style="flex:auto"></span>
    <form id="form"> 
      <input type="search" id="query" name="q" placeholder="Search here..." class=round>
      <mat-icon class="white-icon">search</mat-icon>
    </form>
    <span style="flex:auto"></span>
    <mat-slide-toggle [checked]="useDefault" (change)="toggle($event)" color="primary">  
      <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </mat-toolbar>
</p>
    



  <div fxLayoutAlign="center center" fxFlexFill class="background">
  <mat-card fxFlex="25">

    <mat-toolbar color="primary">Welcome to the login page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Enter your e-mail address">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>    
      <mat-checkbox class="example-margin"color="primary">Remember me!</mat-checkbox>
      <a href="#!">Forgot your password?</a>
      <button mat-raised-button type="submit" color="primary" margin=2% class=button>
       Sign in
      </button>
      <button mat-raised-button type="submit" color="primary" margin=2% class=button>
        Sign up
      </button>
    </form>
  </mat-card>
</div>









<div class="row"> © 2022 Copyright: LadyBug </div>
  


  <mat-toolbar color="third">
    <div class="row">
      <div class="block"><a href="#!">About this site</a></div>
      <div class="block">Terms and Conditions</div>
      <div class="block">Contact</div>
      <div class="block">Support</div>


     
      
   

 



    


   
